{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <form id="checkoutForm" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="firstName">First Name</label>
                                <input id="firstName" name="firstName" class="form-control" type="text" {% if shipping_address %} value = "{{shipping_address.first_name}}" {% else %} placeholder="John" {% endif %} required>
                                <div class="invalid-feedback">Please enter your first name.</div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="lastName">Last Name</label>
                                <input id="lastName" name="lastName" class="form-control" type="text" {% if shipping_address %} value = "{{shipping_address.last_name}}" {% else %} placeholder="Doe" {% endif %} required>
                                <div class="invalid-feedback">Please enter your last name.</div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="email">E-mail</label>
                                <input id="email" name="email" class="form-control" type="email" {% if shipping_address %} value = "{{shipping_address.email}}" {% else %} placeholder="example@email.com"{% endif %} required>
                                <div class="invalid-feedback">Please enter a valid email address.</div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="mobile">Mobile No</label>
                                <input id="mobile" name="mobile" class="form-control" type="tel" {% if shipping_address %} value = "{{shipping_address.phone_number}}" {% else %} placeholder="+123 456 789" {% endif %} required>
                                <div class="invalid-feedback">Please enter your mobile number.</div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="address1">Address Line 1</label>
                                <input id="address1" name="address1" class="form-control" type="text"{% if shipping_address %} value = "{{shipping_address.street_address}}" {% else %} placeholder="123 Street"{% endif %} required>
                                <div class="invalid-feedback">Please enter your address.</div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="address2">Address Line 2</label>
                                <input id="address2" name="address2" class="form-control" type="text" {% if shipping_address %} value = "{{shipping_address.apartment_address}}" {% else %} placeholder="123 Street" {% endif %}>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="country">Country</label>
                                <select id="country" name="country" class="custom-select" required>
                                    <option value="">Select a country</option>
                                    <option>United States</option>
                                    <option>Afghanistan</option>
                                    <option>Albania</option>
                                    <option>Algeria</option>
                                </select>
                                <div class="invalid-feedback">Please select your country.</div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="city">City</label>
                                <input id="city" name="city" class="form-control" type="text" {% if shipping_address %} value = "{{shipping_address.city}}" {% else %} placeholder="New York" {% endif %} required>
                                <div class="invalid-feedback">Please enter your city.</div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="state">State</label>
                                <input id="state" name="state" class="form-control" type="text" {% if shipping_address %} value = "{{shipping_address.state}}" {% else %} placeholder="New York" {% endif %} required>
                                <div class="invalid-feedback">Please enter your state.</div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="zipcode">ZIP Code</label>
                                <input id="zipcode" name="zipcode" class="form-control" type="text" {% if shipping_address %} value = "{{shipping_address.postal_code}}" {% else %} placeholder="123" {% endif %} required>
                                <div class="invalid-feedback">Please enter your ZIP code.</div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="newaccount">
                                    <label class="custom-control-label" for="newaccount">Create an account</label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="shipto" data-toggle="collapse" data-target="#shipping-address">
                                    <label class="custom-control-label" for="shipto">Ship to different address</label>
                                </div>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="col-md-12 form-group mt-3">
                            <button type="submit" name="shipping_address" class="btn btn-primary btn-lg btn-block">Submit</button>
                        </div>

                    </form>
                </div>
            </div>

            <!-- Order Summary & Payment Section -->
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 1</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 2</p>
                            <p>$150</p>
                        </div>
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">${{total_cost}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">${{total_cost}}+10</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <form class="mb-5" method="POST">
                            {% csrf_token %}
                        <button type="submit" name="place_order" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

{% endblock %}
