{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <!-- Your content here -->
        </div>
    </div>
    <!-- Featured End -->

    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">15 Products</p>
                    <a href="" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="{% static 'img/cat-1.jpg' %}" alt="Men's dresses">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">Men's dresses</h5>
                </div>
            </div>
         
            <!-- Repeat for other categories with respective image paths -->
        </div>
    </div>
    <!-- Categories End -->

    <!-- Offer Start -->
    <div class="container-fluid offer pt-5">
        <div class="row px-xl-5">
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                    <img src="{% static 'img/offer-1.png' %}" alt="Offer 1">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Spring Collection</h1>
                        <a href="{% url 'shop' %}" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                    <img src="{% static  'img/offer-2.png' %}" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Winter Collection</h1>
                        <a href="{% url 'shop' %}" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                    </div>
                </div>
            </div>
            <!-- Repeat for the second offer -->
        </div>
    </div>
    <!-- Offer End -->

    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Trendy Products</span></h2>
        </div>
        <div class="row px-xl-4 pb-3">
            {% for product in trendy_products %}
            <div class="col-lg-2 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" {% if product.MainImage %} src="{{ product.MainImage.url }}" {% else %} src="" {% endif %} alt="Colorful Stylish Shirt">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{ product.name }}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>${{ product.discounted_price }}</h6><h6 class="text-muted ml-2"><del>${{ product.price }}</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{% url 'product-detail' product.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                     
                        <button  type="button" class="btn btn-sm text-dark p-0" onclick="AddToCart('{{csrf_token}}','{{request.user.is_authenticated}}','{{ product.id }}', '{{ product.name|escapejs }}', '{{ product.discounted_price }}','{{product.MainImage.url}}', 1)">
                            <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    
        <!-- Pagination Controls -->
     
    </div>
    
    <!-- Products End -->

    <!-- Subscribe Start -->
    <div class="container-fluid bg-secondary my-5">
       
        <div class="row justify-content-md-center py-5 px-xl-5">
            <div class="col-md-6 col-12 py-5">
                <div class="text-center mb-2 pb-2">
                    <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Stay Updated</span></h2>
                    <p>Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam labore at justo ipsum eirmod duo labore labore.</p>
                </div>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-white p-4" placeholder="Email Goes Here">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-4">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Subscribe End -->

    <!-- Just Arrived Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Just Arrived</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            {% for i in latest_products %}

            <div class="col-lg-2 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                   
                        <img class="img-fluid w-100"
                        {% if i.MainImage %}src="{{i.MainImage.url}}"
                        {% else %} src=""
                        {% endif %}
                        alt="Colorful Stylish Shirt">

                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{i.name}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>${{i.discounted_price}}</h6><h6 class="text-muted ml-2"><del>${{i.price}}</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{% url 'product-detail' i.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                     
                        <button  type="button" class="btn btn-sm text-dark p-0" onclick="AddToCart('{{csrf_token}}','{{request.user.is_authenticated}}','{{ i.id }}', '{{ i.name|escapejs }}', '{{ i.discounted_price }}','{{i.MainImage.url}}', 1)">
                            <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Repeat for other products -->
        </div>
    </div>
    <!-- Just Arrived Products End -->

    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-1.jpg' %}" alt="Vendor 1">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-2.jpg' %}" alt="Vendor 2">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-3.jpg' %}" alt="Vendor 3">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-4.jpg' %}" alt="Vendor 4">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-5.jpg' %}" alt="Vendor 5">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-6.jpg' %}" alt="Vendor 6">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-7.jpg' %}" alt="Vendor 7">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-8.jpg' %}" alt="Vendor 8">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/myjs.js' %}"></script>
{% endblock %}
